:root {
    --background: #ffffff;
    --text: #434455;
    --link: #4d5ae5;
    --link-cont: #404bbf;
    --spanny: #2e2f42;
    --cloud: #f4f4fd;
    --border: #e7e9fc;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: var(--text);
    font-size: 16px;
    line-height: 24px;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    border-bottom: 1px solid var(--border);
}

.head {
    padding-left: 156px;
    padding-top: 24px;
    display: flex;
    flex-direction: row;
}

.big-header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--background);
    margin-top: 0;
    margin-bottom: 48px;
    padding-top: 188px;
}

.innav {
    color: var(--spanny);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.link {
    text-decoration: none;
}

.innav:hover, .innav:focus, .innav:active {
    color: var(--link-cont);
}

.inadd {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

.inadd:hover, .inadd:focus {
    color: var(--link-cont);
}

.but {
    font-family: "Roboto", sans-serif;
    color: var(--background);
    background-color: var(--link);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    margin-bottom: 188px;
    border: 0px solid var(--border);
    border-radius: 4px;
}

.but:hover, .but:focus {
    background-color: var(--link-cont);
}

.ulbutton {
    padding-top: 96px;
    margin-bottom: 72px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    justify-content: center;
}

.filter {
    margin-right: 24px;
    padding: 12px 24px;
    font-family: "Roboto", sans-serif;
    color: var(--link);
    background-color: var(--cloud);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    border: 1px solid var(--border);
    border-radius: 4px;
}

.filter:hover, .filter:focus {
    color: var(--background);
    background-color: var(--link-cont);
}

.allres {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    justify-content: center;
    padding-bottom: 120px;
}

.works {
    border: 1px solid var(--border);
}

.sect-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--spanny);
    margin-bottom: 72px;
}

.sect-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--spanny);
    margin-top: 0;
    padding-top: 32px;
    margin-bottom: 8px;
    padding-left: 16px;
}

.smaller-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--spanny);
}

.smaller-titletwo {
    margin-top: 32px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--spanny);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--link);
    margin-right: 76px;
}

.spany {
    color: var(--spanny);
}

.list {
    list-style: none;
    margin-top: 0;
}

.contacts {
    font-style: normal;
}

.first-section {
    background-color: var(--spanny);
    text-align: center;
    justify-content: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ulone {
    margin-right: 332px;
}

.lione {
    margin-right: 40px;
}

.ultwo {
    display: flex;
    flex-direction: row;
    padding-top: 120px;
    padding-bottom: 88px;
    padding-left: 0;
    justify-content: center;
}

.litwo {
    width: 264px;
    margin-right: 24px;
}

.ulthree {
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
    padding-left: 0;
    justify-content: center;
}

.lithree {
    margin-right: 24px;
}

.ulfour {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    justify-content: center;
}

.paragraph {
    margin: 0;
    padding-bottom: 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.paragraphh {
    margin: 0;
    padding-bottom: 32px;
    color: var(--text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-left: 16px;
}

.fourth-sect {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--cloud);
}

.workers {
    background-color: var(--background);
    margin-right: 24px;
    text-align: center;
}

.foot {
    background-color: var(--spanny);
    padding: 100px 156px;
}

.span-two {
    color: var(--cloud);
}

.in-foot {
    color: var(--cloud);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    margin-top: 17.5px;
} 

.contacti {
    margin-right: 40px;
}

img {
    display: block;
}